body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro',sans-serif;
  overflow-x:hidden; 
}
h1,h2,h2,h4{
  font-family: 'Barlow Semi Condensed',sans-serif;
}
a:hover{
  text-decoration: none;
}
section{
  min-height:100vh;
  background-color: #000000; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.generic-view-container{
  min-height:40vh; 
  background-color: #000000;
}
.generic-view-title{
  margin-top: 10vh;
}
.generic-view-title h1{
  font-family: 'Barlow Semi Condensed',sans-serif;
  font-size: 4.5vw;
  color:#FFFFFF;
  text-align: center;
  animation:1s fadeIn;
}
.invisible{
    visibility: hidden;
}

.back-btn{
  margin:5px 5px 15px 5px; 
  color: #C96813;
  cursor: pointer;
  display: inline;
}
.back-btn:hover{
  text-decoration: underline;
  color:#C96813;
}

@media(max-width:960px)and (orientation:portrait){
    .generic-view-container{
      min-height:20vh; 
    }
    .generic-view-title{
      margin-top:3vh;
    }
    .generic-view-title h1{
        font-size: 12vw;
    }
}
