
.generic-box-container{
    background-color: #f57e16;
    padding: 25px;
    border-radius: 5px;
    border: solid 2px #f57e16;
    min-height: 120px;
  }
.generic-box-container img{
    display: block;
    margin: 0 auto;
    width: 80px;
}
.generic-box-container h6{
    color: #ffffff;
    font-size: 1.8rem;
    padding: 10px;
    text-align: center;
}
.generic-box-container:hover{
    box-shadow: 3px 3px 10px 2px #080808;
    transform: translateY(-5px) translateX(2px);
    transition: 0.3s 0s ease-in-out;
}
