.sponsors-title{
    text-align: left;
    color: #1f1f1f;
    font-size: 6vw;
    font-family: 'Barlow Semi Condensed',sans-serif;
    left: 0;
    margin: 20px 0px;
    animation-delay: 0s;
    animation-duration: 1s;
}
.sponsors-title .dash{
    color: #f57e16;
    padding: 2px;
    font-size: 2vw;
    display:inline-block;
    width:50px;
    border-bottom: solid 3px #f57e16;
    position: relative;
    top: -14%;
}
.sponsors-item{
    animation-duration: 0.8s;
}
.sponsors-item:nth-child(1){
    animation-delay: 0.5s;
}
.sponsors-item:nth-child(2){
    animation-delay: 0.6s;
}
.sponsors-item:nth-child(3){
    animation-delay: 0.7s;
}
.sponsors-item:nth-child(4){
    animation-delay: 0.8s;
}
.sponsors-item img{
    width: 60%;
    display: block;
    margin: 10px auto;
    filter:grayscale(100%);
}
@media(max-width:960px)and (orientation:portrait){
    .sponsors-title{
        font-size: 12vw;
    }
}